/* ************
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/* RESPONSIVE */
html {
	font-size: 100%;
	padding: 0;
	box-sizing: border-box;
}

body { 
	font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #FFFEFC;
	width: 100%;
	margin: 0 10px;
}


button {
	font-family: inherit;
	background-color: #E16259;
	border-radius: 5px;
	color: white;
	border: none;
	font-size: 1.0625rem;
	padding: 0.4rem 0.9rem 0.5rem;
	width: 23%;
	box-shadow: 0px 4px 9px #CFCECE;
	margin-top: 0.85rem;
}

main > section:first-of-type > button {
	margin-top: 1.25rem;
}

button:hover {
	background-color: #E05146;
}

/* 1 */
main > section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;																	
}

main > section > article {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

main > section > img {
	width: 50%;
}

main > section:first-of-type {
	text-align: left;
}

main > section:first-of-type > img {
	margin-top: 4rem;
	width: 482px;
	height: 326px;
}

/* main > section:first-of-type > article { 
	
} */

main > section:nth-of-type(2) {
	margin-top: 4rem;
}

/* 2 en 5 */
main > section:nth-of-type(2), section:nth-of-type(5) {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	width: 100%;																	
}

/* 3 */
 main > section:nth-of-type(3), section:nth-of-type(4){
        display: flex;
	    flex-direction: row-reverse;
	    justify-content: center;
	    width: 100%;														
    }

/* 1 / 6 */
  main > section:nth-of-type(6), section:nth-of-type(7) {
    display: flex;
    flex-direction: row;
  }

  figure:first-of-type {
	filter: grayscale(100%);
  }
  
  h1 {
	font-size: 4rem;
  }

  h1:first-of-type {
	margin-bottom: 0px;
  }

  section:first-of-type > article > h1:nth-of-type(2){
	margin: 0px;
  }

  h2 {
	font-size: 1.195rem;
	font-weight: 450;
	color: #666665;
  }
  
  main > section:first-of-type > article > h2 {
	width: 60%;
	line-height: 1.5rem;
  }

  p:first-of-type {
	color: #666666;
	margin-top: 2rem;
  }  

  figure {
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-evenly; */
  }

  figure > img {
	max-height: 25px;
	max-width: 78px;
  }

  article > img {
	width: 6.125rem;
	height: 4.375rem;
  }


@media ( max-width: 1080px ) {

	html {
		font-size: 100%;
	}
	
	section {
		width: 70%;
	}

	main > section:first-of-type > article {
		margin: 0 3rem;
	}
    /* 1 */
    main > section {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	width: 100%;																	
    }

    main > section > article {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

    main > section > img {
	width: 100%;
    }

    /* 2 */
    main > section:nth-of-type(2), section:nth-of-type(4), section:nth-of-type(5){
	display: flex;
	justify-content: center;
    flex-direction: column;
	width: 100%;																
    }

    main > section:nth-of-type(3) {
        flex-direction: column;
    }
    
    /* 1 / 6  */

    main > section:nth-of-type(6), section:nth-of-type(7) {
        flex-direction: column-reverse;
    }

	/* STYLES */

	section:first-of-type > img {
		width: 90%;
		height: 90%;
		margin: auto;
	}

	h1 {
		font-size: 45px;
		font-weight: 700;
		text-align: center;
	}

	h2 {
		font-size: 19.125px;
		margin: 0;
		text-align: center;
		width: 100%;
	}

	main > section:first-of-type > article > h2 {
		width: 100%;
		line-height: 1.5rem;
  }
	
	button {
		font-size: 1.125rem;
		border-radius: 5px;
		padding: 0.4rem 0.9rem 0.5rem; 	
	}
	
	button:first-of-type {
	margin: auto;
	width: 10rem;
	}

	p:first-of-type {
		margin: auto;
	}

}




   